<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>

<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<div th:if="${user != null}">
    <form th:action="@{/users/edit}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}">
        Name: <input type="text" th:field="*{name}"><br>
        Email: <input type="email" th:field="*{email}"><br>
        <button type="submit">Update</button>
    </form>
</div>

<br>
<a th:href="@{/users}">Back to List</a>
</body>
</html>